/* ---------- Google Font ---------- */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&family=Quicksand:wght@300;400;500;600;700&display=swap');

/* ---------- Global Reset CSS ----------  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  --webkit-font-smoothing: antialiased;

  /* Main Font */
  font-family: 'Poppins', sans-serif;

  /* Header Font */
  /* font-family: 'Nunito', sans-serif; */

  /* Description Font */
  /* font-family: 'Quicksand', sans-serif; */
}

button,
input,
textarea,
select {
  font: inherit;
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
video,
canvas,
svg {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  outline: none;
  border: none;
}
